*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #F44336;
   min-height: 100vh;
}
.container{
    width: 450px;
    background-color: white;
    border-radius: 15px;
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 900;
}
header .icons span{
    height: 40px;
    width: 40px;
   color: #878787;
   font-size: 1.9rem;
    margin: 0 1px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
header .icons span:hover{
    background-color: #f2f2f2;
}
header .icons span:last-child{
    margin-right: -10px;
}
.calender{
    padding: 20px;
}
.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.calender .week li{
    font-weight: 600;
}
.calender ul li{
    position: relative;
    width: calc(100% / 7);
}
.calender .days{
    
    margin-bottom:20px ;
}
.calender .days li{
    z-index: 1;
    margin-top: 35px;
    cursor: pointer;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.calender .days  li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 17%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: -1;
}
.days  li:hover:before{
    background-color: #f2f2f2;
    
}
.days  li.active:before{
   
    background-color :#F44336;
}